---
import Base from "../layouts/Base.astro";
---

<Base title="FAQ">
    <h1>FAQ</h1>

    <h2>What's <a href="/questions">Questions</a>?</h2>
    <p>
        During an interview for a startup incubator program, the interviewer
        asked me what my 12 favorite questions were — and I didn't have any. So
        I started keeping a list of questions I'm always thinking about.
    </p>
</Base>
