---
import Base from "../layouts/Base.astro";
---

<Base title="matchaonmuffins">
    <h1>matchaonmuffins</h1>
    <p>
        When I was about seven, my dad went to Japan and brought back a box of <a
            href="https://en.wikipedia.org/wiki/Kit_Kats_in_Japan"
            >matcha flavored Kit Kats</a
        >. I fell in love with matcha. I also really like muffins. Years later,
        when I was making a GitHub account, I somehow put the two together. The
        name stuck.
    </p>

    <p>
        This site is a collection of random thoughts that never made it onto my
        LinkedIn, products I never launched, and things I find cool.
    </p>
</Base>
