---
import Base from "../layouts/Base.astro";
---

<Base title="Questions">
    <h1>Questions</h1>
    <p>Some questions I keep in the back of my mind.</p>

    <ul>
        <li>
            What really matters more for a product? Distribution? Or having a
            good product?
        </li>

        <li>
            In current AGI and AGI-adjacent research, are the remaining major
            challenges fundamentally scientific in nature, or are they primarily
            engineering and systems-integration problems?
        </li>
    </ul>
</Base>
